/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: #141517;
}

@font-face {
  font-family: "intea";
  src: url("../fonts/intea.eot?uizmzc");
  src: url("../fonts/intea.eot?uizmzc#iefix") format("embedded-opentype"),
    url("../fonts/intea.ttf?uizmzc") format("truetype"),
    url("../fonts/intea.woff?uizmzc") format("woff"),
    url("../fonts/intea.svg?uizmzc#intea") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "intea" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-chevron:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}

/* layouts */
.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.global-header .logo {
  height: 18px;
}
.global-header .logo img {
  width: auto;
  height: 100%;
}
.global-nav-list {
  display: flex;
  align-items: center;
}
.global-nav-item {
  font-size: 18px;
}
.global-nav-item:not(:last-of-type) {
  margin-right: 36px;
}
.content {
  margin-top: 100px;
}
.content-width {
  margin: 0 auto;
  width: 1300px;
}
.content-header {
  margin-bottom: 40px;
}
.content-link-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.content-link-title > i {
  margin-left: 6px;
}
.content-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
